
body {
    background-color:#eeeeee;

}

.container {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    /* background-color: #fff; */
    background-color: transparent;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #778897;
    box-shadow: 10px 15px 5px #778897;
}


.container h1 {
    font-family: sans-serif;
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 2px 0px;
    border-radius: 50px;
}

.grid #questions {
    font-family: sans-serif;
    font-size: 30px;
    color: #5a6772;
}

.BUTTON {
    margin-top: 30px;
}

BUTTON{
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #1d3c6a;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
/* #btn0,#btn1,#btn2,#btn3{
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #1d3c6a;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
} */

BUTTON{ 
    cursor: pointer;
    background-color: #57636e;
    outline: 0;
}

BUTTON{
    outline: 0;

}


BUTTON{

    height:100px;
    width:100px;
    background-color: black;
    color:white;
}